<html>
    <head>
        <title>
            Home Page | Health Care Services
        </title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">

    </head>

    <body>
        <header class="banner">

			<h1 class="homebannertext">
				<span>NAGP Health Care Services</span>
			</h1>

        </header>
        
        <section>

            <a title="lab_test" href="/book-lab-test" id="lab_test" class="selectservicebutton">
				<div id="labtest" class="selectbutton">
					<div id="big">BOOK A LAB TEST</div>
				</div>
            </a>

            <a title="find_doc" href="/find-doctor" id="find_doc" class="selectservicebutton">
				<div id="finddoc" class="selectbutton">
					<div id="big">FIND A DOCTOR</div>
				</div>
			</a>
        </section>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>
    </body>


</html>